@font-face {
    font-family: 'bebasNeue';
    src: url('/media/BebasNeue-Regular.ttf') format('truetype');
}

.pageTitle {
    text-align: center;
    font-size: 40px;
    font-family: bebasNeue, sans-serif;
}

.backgroundContainer {
    padding: 100px 56px 100px 56px;
}