.questsSection {
    margin: 20px 0;
    text-align: center;
}

.questsNameHolder {
    display: flex;
    flex-direction: row;
}

.questsName {
    margin-left: 10px;
}

.questsCreateLabel {
    text-align: center;
}