.rootSlideContainer {
    display: flex;
    justify-content: center;
}

.rootSlideshow {
    width: 60vw;
}

.rootSlide {
    text-align: center;
}

.rootSlideImage {
    height: 40vh;
}

.rootSlideInfo {
    margin-top: 10px;
}

.rootLoginButtons {
    display: flex;
    justify-content: center;
}

.rootLoginButton {
    width: 300px;
    margin: 20px;
}